<Alloy>
	<Window class="container">
		<View id="configForm">
			<View id="header" formFactor="tablet">
		      	<Label id="headerLabel" />
		    </View>
			<View id="config_fields">
				<View class="keyValueView" >
					<Label id="adunitLabel" text="adUnit" class="configLabel"/>
					<View class="divider_vert" />
					<TextField id="adunit" next="userRole" />
				</View>
				<View class="divider_horiz"/>
				<View class="keyValueView" >
					<Label id="userRoleLabel" text="userRole" class="configLabel"/>
					<View class="divider_vert"/>
					<TextField id="userRole" next="scrollposition"/>					
				</View>			
				<View class="divider_horiz"/>
				<View class="keyValueView" >
					<Label id="scrollpositionLabel" text="scrollposition" class="configLabel"/>
					<View class="divider_vert"/>
					<TextField id="scrollposition" next="targetsection"/>					
				</View>
				<View class="divider_horiz"/>
				<View class="keyValueView" >
					<Label id="targetSectionLabel" text="Target Section" class="configLabel"/>
					<View class="divider_vert"/>
					<Switch id="targetsection" value="true" title="Target Section" left="5dp"/>					
				</View>
				<View class="divider_horiz"/>
				<View class="keyValueView" >
					<Label id="targetLabel" text="target" class="configLabel"/>
					<View class="divider_vert"/>
					<TextField id="target" />					
				</View>
				<View class="divider_horiz"/>
				<View class="keyValueView" >
					<Label id="keyValueLabel" text="Use Key:Value" class="configLabel"/>
					<View class="divider_vert"/>
					<Switch id="useKeyValue" value="false" title="Use Key:Value" left="5dp"/>					
				</View>
				<View class="divider_horiz"/>
				<View class="keyValueView" >
					<TextField id="key" />
					<View class="divider_vert"/>
					<TextField id="value" />
				</View>			
			</View>
		</View>		
	</Window>
</Alloy>